APP_VERSION=1.0
APP_NAME=deposit-calculation-service
SITE_HOST=0.0.0.0
SITE_PORT=8000
SITE_LOG_LEVEL=info
SITE_RELOAD=True
SITE_RELOAD_DELAY=0.25
DEBUG=True

DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
DB_HOST=db
DB_PORT=5432

BROKER=redis://redis
BROKER_URL=redis://redis:6379/0

SENDING_API_TOKEN=******************

